body {
  margin: 0;
  padding: 0;
  overflow: auto;
  -ms-word-break: break-all;
  word-break: keep-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0% 95%);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

.sedan {
  background: hsl(31, 77%, 52%);
}

.sedan > button {
  color: hsl(31, 77%, 52%);
}

.suv {
  background: hsl(184, 100%, 22%);
}

.suv > button {
  color: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
}

.luxury > button {
  color: hsl(179, 100%, 13%);
}

button {
  background: hsl(0, 0% 95%);
  border-radius: 2rem;
  padding: 0.333rem;
  margin: 7.5% 0;
  inline-size: 8rem;
  block-size: 3rem;
  font-family: 'Lexend Deca', sans-serif;
  border-style: none;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

button:active,
button:hover {
  background-color: inherit;
  color: inherit;
  border-style: inset;
}

/* Mobile Styles */
@media screen and (max-width: 40em) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 0.25fr;
    margin: 5%;
    padding: 0;
    block-size: 100%;
    justify-content: center;
  }

  div {
    padding: 5%;
  }

  button {
    margin: 0;
    padding: 1rem 0.333rem;
  }

  .sedan {
    grid-column: 1;
    grid-row: 1;
    border-top-left-radius: 0.667rem;
    border-top-right-radius: 0.667rem;
  }

  .suv {
    grid-column: 1;
    grid-row: 2;
  }

  .luxury {
    grid-column: 1;
    grid-row: 3;
    border-bottom-left-radius: 0.667rem;
    border-bottom-right-radius: 0.667rem;
  }

  .attribution {
    grid-row: 4;
    grid-column: 1;
    margin: auto 0;
    color: black;
    inline-size: 100%;
    text-align: center;
  }
}

/* Desktop Styles */
@media screen and (min-width: 40.01em) {
  body {
    margin: 5% auto;
    height: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    grid-template-rows: 17.5% 60% 17.5% 5%;
    margin: 0 auto;
    padding: 0;
    block-size: 100%;
    justify-content: center;
    align-content: center;
    overflow: auto;
    max-inline-size: 1440px;
  }

  div {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    block-size: 100%;
  }

  img {
    align-items: top;
    grid-column: 1;
    grid-row: 1 / 2;
  }

  h2 {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  p {
    align-self: center;
    grid-column: 1;
    grid-row: 3 / 6;
  }

  button {
    margin-left: 2%;
    grid-column: 1;
    grid-row: 7;
  }

  .sedan {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-top-left-radius: 0.667rem;
    border-bottom-left-radius: 0.667rem;
  }

  .suv {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .luxury {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    border-top-right-radius: 0.667rem;
    border-bottom-right-radius: 0.667rem;
  }

  .attribution {
    grid-row: 4;
    grid-column: 1 / 6;
    margin: auto;
    color: black;
    inline-size: 100%;
    text-align: center;
  }
}
