html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  -ms-word-break: break-all;
  word-break: keep-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #59f4ff;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  /* display: flex; */
  color: hsla(0, 0%, 100%, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Big Shoulders Display', cursive;
  background: hsl(0, 0% 95%);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

.sedan {
  background: hsl(31, 77%, 52%);
}

.sedan > button {
  color: hsl(31, 77%, 52%);
}

.suv {
  background: hsl(184, 100%, 22%);
}

.suv > button {
  color: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
}

.luxury > button {
  color: hsl(179, 100%, 13%);
}

button {
  background: hsl(0, 0% 95%);
  border-radius: 30px;
  padding: 5px;
  margin: 7.5% 0;
  /* margin-left: -10%; */
  inline-size: 8rem;
  font-family: 'Lexend Deca', sans-serif;
  border-style: none;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

button:active,
button:hover {
  background-color: inherit;
  color: inherit;
  border-style: inset;
}

/* Mobile Styles */
@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    block-size: 100vh;
    justify-content: center;
  }
  div {
    padding: 5vh;
  }
  button {
    /* margin-left: 0.0625rem; */
    margin: 0;
    padding: 15px 5px;
    inline-size: 8rem;
  }
  .sedan {
    grid-column: 1;
    grid-row: 1;
  }
  .suv {
    grid-column: 1;
    grid-row: 2;
  }
  .luxury {
    grid-column: 1;
    grid-row: 3;
  }
}

/* Desktop Stles */
@media screen and (min-width: 601px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    margin: 0;
    padding: 0;
    block-size: 100vh;
    justify-content: center;
    align-content: center;
  }

  div {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    block-size: 60vh;
  }

  img {
    align-items: top;
    grid-column: 1;
    grid-row: 1 / 2;
  }

  h2 {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  p {
    align-self: center;
    grid-column: 1;
    grid-row: 3 / 5;
  }

  button {
    margin-left: 5%;
    grid-column: 1;
    grid-row: 6;
  }

  .sedan {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .suv {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .luxury {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}
