html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Big Shoulders Display', cursive;
}